/* Created by: Manya
* Created on: Sep 2020
* This file contains the CSS for index.html
*/

body {
  background-color: powderblue;
}

h1 {
  background-color: rgb(197, 221, 187);
  color: hsl(4, 57%, 66%);
  padding: 40px;
  text-align: center;
}

p {
  background-color: rgb(103, 203, 196);
}